<body>
  <header>
    <h1>Herzlich willkommen bei Cars4You Autovermietung!</h1>
  </header>
  <main>
    <div class="row">
      <div class="col">
        <img src="https://bit.ly/41qjK2O" alt="Unser Ziel" />
      </div>
      <div class="col">
        <h2>Unser Ziel</h2>
        <p>
          Wir sind eine führende Autovermietung mit Standorten in Hamburg, Berlin,
          und Bremen. Unser Ziel ist es, unseren Kunden die beste Auswahl und den
          besten Kundenservice zu bieten. Bei Cars4You finden Sie eine breite Palette
          von Fahrzeugen jeder Klasse, von Stadtautos bis hin zu geräumigen SUVs und
          luxuriösen Limousinen. Egal, ob Sie ein Auto für eine Geschäftsreise, einen
          Familienurlaub oder ein Wochenende in der Stadt benötigen, wir haben das
          Fahrzeug für Sie. Wir legen großen Wert auf die Qualität unserer Fahrzeuge
          und stellen sicher, dass jedes Auto in einwandfreiem Zustand und regelmäßig
          gewartet wird. Unsere Fahrzeuge sind mit den neuesten Sicherheits- und
          Komfortfunktionen ausgestattet, um Ihre Fahrt so angenehm und sicher wie
          möglich zu gestalten.
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <h2>Unser Team</h2>
        <p>
          Unser Team von freundlichen und erfahrenen Mitarbeitern steht Ihnen jederzeit
          zur Verfügung, um Ihnen bei der Auswahl des richtigen Fahrzeugs und der Planung
          Ihrer Reise zu helfen. Wir sind stolz unseren Kunden den besten Kundenservice
          zu bieten und garantieren Ihnen eine stressfreie und angenehme Erfahrung bei der
          Anmietung eines Autos. Wir bei Cars4You sind entschlossen, unseren Kunden die
          beste Autovermietungserfahrung zu bieten und freuen uns, Ihnen bei Ihrer nächsten
          Reise zu helfen.
        </p>
      </div>
      <div class="col">
        <img src="https://bit.ly/3KEPKuO" alt="Unser Team" />
      </div>
    </div>
    
  </main>
</body>